#ongoing-details {
  height: 100px;
  background-color: #555;
  box-sizing: border-box;
  display: flex;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(15, 15, 15, 0.95);
}

#ongoing-details .ongoing-placeholder {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  margin: auto;
}
