.sidebar {
  width: 250px;
  z-index: 900;
  overflow: auto;
  background-color: #505050;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: -2px 0 5px rgba(15, 15, 15, 0.95);
  transition: all 0.3s ease !important;
}

#sidebar-title {
  color: rgb(196, 196, 196);
  display: inline-block;
}

#new-task-input {
  background-color: #505050;
  margin: 12px;
  border: 0;
  color: rgb(221, 221, 221) !important;
  outline: 0;
}

#new-task-input::placeholder {
  color:rgb(196, 196, 196);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  color: rgb(221, 221, 221) !important;
}

.sidebar li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
