#main-timeline {
  background-color: #222;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
}

.event {
  font-size: 12px;
  background-color: #229;
  border-radius: 4px;
  margin-top: 4px;
  position: absolute;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  padding: 2px;
  box-sizing: border-box;
  color: #eee;
  text-align: center;
  border: 1px solid #aaaa;
  cursor: pointer;
}

.hour-label {
  position: absolute;
  font-size: 0.75rem;
  user-select: none;
  width: 30px;
}

.hour-label:before {
  content: '';
  display: block;
  position: relative;
  width: 1px;
  height: 80px;
  left: 50%;
  right: 50%;
  background-color: #aaa5;
}

.now-indicator {
  width: 1px;
  height: 80px;
  display: block;
  position: absolute;
  background-color: #a55;
  z-index: 100;
}

.now-indicator:after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: -5px;
  border-radius: 8px;
  background-color: #a55;
  z-index: 100;
}

.new-event {
  height: 20px;
  width: 60px;
  visibility: hidden;
  background-color: #2295;
  border-radius: 4px;
  margin-top: 4px;
  position: absolute;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #aaa5;
  cursor: pointer;
}

.new-event:hover {
  background-color: #2299;
  border: 1px solid #aaa9;
}

.red-background {
  color: #eee;
  background-color: #a55 !important;
}

.timeline-container {
  position: relative;
}

.overflow-menu-button {
  position: fixed;
  top: 45px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  background-color: #73a9df;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
